@{
    ViewData["Title"] = "Control de Empleados";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Departamentos</h1>
</div>
<div class="text-center">
  <div class="container; caja">
    <div class="row">
        <div class="col-md-4">
            <box class="cajita">Departamento de ventas</box>
        </div>
        <div class="col-md-4">
            <box class="cajita">Departamento de compras</box>
        </div>
        <div class="col-md-4">
            <box class="cajita">Administración</box>
        </div>
    </div>
  </div>
</div>