@using System.Data;
@using GestionARG.Models;

@{
    ViewData["Title"] = "Compras";
    List<EmpleadoTareaPromedio> listita =  ViewBag.ListaPromedioEmpleadosTarea ;
}

<a type="button" class="btn btn-success" href='@Url.Action("DepartamentoAdministracion","Home")' >Volver</a>

<div class="text-center">
  <h1 class="LetraGrande">Promedio Tareas Administración</h1>
</div>



<div class="text-center">
  <div class="container; caja">
    <div class="row">
      <div class="col-md-5">
        <h2 class="titulo">Nombre del empleado</h2>
      </div>
      <div class="col-md-7">
        <h2 class="titulo">Datos</h2>
      </div>
      <div class="text-center">
      @foreach (EmpleadoTareaPromedio objeto in listita)
            {
              <div class="container">
                <div class="row"><hr>
                  <div class="col-md-5">
                    <h3 class="lisgrup">
                        @objeto.NombreEmpleado
                    </h3>
                  </div>
                      <div class="col-md-7">
                          <ul class="list-group">
                            <li class="list-group-item lisgrup"><span><p>Tareas hechas por este empleado</p></span>@objeto.TareasHechasXEmpleado
                            <li class="list-group-item lisgrup"><span><p>promedio de puntaje:</p></span>@objeto.Promedio
                            <br>
                          </ul>
                        </div>  
                </div>
              </div>
            }
            </div>
      </div>
    </div>
  </div>
</div>