@{
    ViewData["Title"] = "Administración";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Departamentos</h1>
</div>
<div class="text-center">
  <div class="container; caja-control">
    <div class="row">
        <div class="col-md-4">
            <a href='@Url.Action("DepartamentoVentas","Home")' class="btn box-control">Departamento de ventas</a>
        </div>
        <div class="col-md-4">
            <a href="" class="btn box-control">Departamento de compras</a>
        </div>
        <div class="col-md-4">
            <a href='@Url.Action("DepartamentoAdministracion","Home")' class="btn box-control">Administración</a>
        </div>
    </div>
  </div>
  <h1 class="LetraGrande">Administración hecha</h1>
  <div class="container; caja">
      <div class="row">
      </div>
  </div>
</div>