@using System.Data;
@model DataTable;
@{
    ViewData["Title"] = "Administración";
    List<EmpleadoTarea> listita =  ViewBag.ListaEmpleadosTarea ;
}

<div class="text-center">
  <h1 class="LetraGrande">Empleados de Administración</h1>
</div>
<div class="text-center">
  <div class="container; caja">
    <div class="row">
      <div class="col-md-5">
        <h2 class="titulo">Nombre del empleado</h2>
      </div>
      <div class="col-md-7">
        <h2 class="titulo">Datos</h2>
      </div>
      <div class="text-center">
      @foreach (EmpleadoTarea objeto in listita)
            {
              <div class="container">
                <div class="row"><hr>
                  <div class="col-md-5">
                    <h3 class="lisgrup">
                        @objeto.NombreEmpleado
                    </h3>
                  </div>
                      <div class="col-md-7">
                          <ul class="list-group">
                            <li class="list-group-item lisgrup"><span><p>DNI:</p></span>@objeto.PuntajeTareas
                            <li class="list-group-item lisgrup"><span><p>Area:</p></span>@objeto.PuntajeTareas 
                            <li class="list-group-item lisgrup"><span><p>Descripción:</p></span>@objeto.PuntajeTareas
                            <br>
                          </ul>
                        </div>  
                </div>
              </div>
            }
            </div>
      </div>
    </div>
  </div>
</div>