@{
    ViewData["Title"] = "Listado de empleados";
}

<div class="text-center">
    <h1 class="display-4">GestionARG</h1>
</div>
<h1>Listado de empleados</h1>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 id="titulo">Nombre del empleado</h2>
        <ul class="list-group">
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Datos y descripción</h2>
        <ul class="list-group">
        </ul>
      </div>
    </div>
  </div>
</div>
