@{
    ViewData["Title"] = "Página de listado de los empleados";
}
<h1>Listado de empleados</h1>

<div class="container">
  <form>
    <div class="form-group">
      <label for="empleado">Empleado:</label>
      <input type="text" class="form-control" id="empleado" placeholder="Ingrese el nombre del empleado">
    </div>
    <select class="form-control">
      <option>Area</option>
    </select>
  </form>
  <div class="container" id="c">
    <div class="row">
      <div class="col-md-6">
        <h2>Nombre del empleado</h2>
        <ul class="list-group">
          <li class="list-group-item"></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Datos y descripción</h2>
        <ul class="list-group">
        </ul>
      </div>
    </div>
  </div>
</div>
