@{
    ViewData["Title"] = "Subida de Empleados";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de empleados</h1>
</div>
<div class="text-center">
  <div class="container; caja-control">
    <div class="row">
      <form>
        <div class="col-md-6">
          <div class="form-group gallardo">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="form-group gallardo">
          <label for="exampleInputPassword1">DNI</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
          <div class="form-group gallardo">
          <label for="exampleInputPassword1">Descripcion</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
          <div class="form-group gallardo">
          <label for="exampleInputPassword1">Area</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group gallardo">
          <label for="exampleInputPassword1">Direccion</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group gallardo">
          <label for="exampleInputPassword1">Descripcion</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
      </form>
    </row>
    </div>
      <a type="button" class="btn boton" href='@Html.ActionLink("SubidaEmpleadosPOST","Home")'> Subir </a>
  </div>
</div>