@{
    ViewData["Title"] = "Subida de Empleados";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de empleados</h1>
</div>
<div class="text-center">
  <div class="container; caja-control">
    <div class="row">
    </div>
  </div>
  <button href='@Html.ActionLink("SubidaEmpleadosPOST","Home")'> Subir </button>
</div>