@{
    ViewData["Title"] = "Subida de Tareas";
}

<div class="text-center">
    <h1 class="LetraGrande" id="departamentos">Subida de tareas</h1>
</div>
<div class="text-center">
  <div class="container; caja-control">
    <div class="row">
    </div>
  </div>
</div>