@using System.Data;
@model DataTable;
@{
    ViewData["Title"] = "Listado de empleados";
}

<div class="text-center">
  <h1 class="LetraGrande">Listado de empleados</h1>
</div>
<div class="text-center">
  <div class="container; caja">
    <div class="row">
      <div class="col-md-5">
        <h2 class="titulo">Nombre del empleado</h2>
      </div>
      <div class="col-md-7">
        <h2 class="titulo">Datos y descripción</h2>
      </div>
      <div class="text-center">
      @foreach (DataRow r in Model.Rows)
            {
              <div class="container">
                <div class="row"><hr>
                  <div class="col-md-5">
                    <h3 class="lisgrup">
                        @Convert.ToString(r["Nombre"])
                    </h3>
                  </div> 
                  <div class="col-md-7">
                    <ul class="list-group">
                      <li class="list-group-item lisgrup"><span><p>DNI:</p></span>@Convert.ToString(r["DNI"])
                      <li class="list-group-item lisgrup"><span><p>Area:</p></span>@Convert.ToString(r["Area"]) 
                      <li class="list-group-item lisgrup"><span><p>Descripción:</p></span>@Convert.ToString(r["Descripcion"])
                      <br>
                    </ul>
                  </div>  
                </div>
              </div>
            }
        </div>
      </div>
    </div>
  </div>
</div>