nav{
  background-color: rgb(17, 136, 136);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(71, 25, 114);
  margin-bottom: 60px;
}

#derecha{
  margin-left: 40%;
}

.izquierda{
  margin-left: 2%;
}

#derechita{
  margin-left: 0.5%;
}

.LetraGrande{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.LetraMasGrande{
  font-family: 'Courier New', Courier, monospace;
  font-size: 125px;
  color: rgb(255, 255, 255);
  margin-top: 15%;
}

.LetraMenosGrande{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color:white;
}

.tituloPrincipal{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1%;
  color: white;
}
.titulo{
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2%;
  margin-top: 3%;
  color: white;
}

.caja-control{
  background-color: #68CBCA;
  border-radius: 8px;
  margin-bottom: 30%;
  margin-top: 3%;
  height: 200px;
}

.gallardo{
  text-align: left;
}

.caja{
  background-color: #68CBCA;
  border-radius: 8px;
  margin-bottom: 3%;
  margin-top: 3%;
}

#logito{
  width: 85px;
}

#manito{
  width: 50px;
  height: 50px;
}

#busqueda{
  width: 65px;
  height: 55px;
}

#flechita{
  width: 45px;
  height: 55px;
}

#lupita{
  width: 55px;
  height: 45px;
}

h3{
  color: white;
}

.h4-margin{
  margin-right: 400%;
}

#departamentos{
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-control{
  text-align: center;
  width: 300px;
  border: 5px solid black;
  padding: 28px;
  margin: 20px;
  height: 100px;
  background-color: white;
  font-weight: bold;
  margin-top: 3.14em;
  }

.h1-margin{
  margin-bottom: 2%;
}

.boton{
  background-color: rgb(78, 173, 252);
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dos{
  background-color: #68CBCA;
  border-radius: 8px;
  margin-top: 10px;
}

.lisgrup{
  background-color: #68CBCA;
  border-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-top: 0.7%;
  color: white;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 button, button span {
  transition: 200ms;
 }
 
 button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 button svg {
  width: 15px;
  fill: #eee;
 }
 
 button:hover {
  background: #ff3636;
 }
 
 button:hover .text {
  color: transparent;
 }
 
 button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 button:focus {
  outline: none;
 }
 
 button:active .icon svg {
  transform: scale(0.8);
 }

 .editbutton {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgb(120, 223, 3);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: rgb(120, 223, 3);
 }
 
 .editbutton, .editbutton span {
  transition: 200ms;
 }
 
 .editbutton .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 .editbutton .icon {
  position: absolute;
  border-left: 1px solid rgb(120, 223, 3);
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .editbutton svg {
  width: 15px;
  fill: #eee;
 }
 
 .editbutton:hover {
  background: rgb(120, 223, 3);
 }
 
 .editbutton:hover .text {
  color: transparent;
 }
 
 .editbutton:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .editbutton:focus {
  outline: none;
 }
 
 .editbutton:active .icon svg {
  transform: scale(0.8);
 }