nav{
  background-color: rgb(17, 136, 136);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(71, 25, 114);
  margin-bottom: 60px;
}

#derecha{
  margin-left: 40em;
}

#derechita{
  margin-left: 0.5em;
}

.LetraGrande{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.LetraMasGrande{
  font-family: 'Courier New', Courier, monospace;
  font-size: 125px;
  color: rgb(255, 255, 255);
  margin-top: 1.8em;
}

.LetraMenosGrande{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color:white;
}

.tituloPrincipal{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  color: white;
}
.titulo{
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  margin-top: 30px;
  color: white;
}

.caja{
  background-color: #68CBCA;
  border-radius: 8px;
}

#logito{
  width: 85px;
}

#manito{
  width: 50px;
  height: 50px;
}

#busqueda{
  width: 65px;
  height: 55px;
}

#flechita{
  width: 45px;
  height: 55px;
}

#lupita{
  width: 55px;
  height: 45px;
}

h3{
  color: white;
}

.h4-margin{
  margin-right: 400px;
}

#departamentos{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cajita{
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}